# Environment Variables
.env
.env.*
!.env.example

# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
env/
*.egg-info/
dist/
build/

# Logs
*.log
logs/

# Database
*.dump
*.sqlite

# IDEs
.vscode/
.idea/
